.article-title {
  font-size: 1.2rem;
  margin-top: .1rem;
}

.pub-list-item .pub-abstract {
  font-size: .8rem;
}


#profile .portrait:hover {
	/*!important overrides the style in the html*/
	background-image: url('/img/portrait2.png')!important;
}
